 @font-face {
     font-family: 'Confidently';
     src: url('./assets/Confidently.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
 }

 @font-face {
     font-family: 'ArgentumSans-Bold';
     src: url('./assets/ArgentumSans-Bold.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
 }

 @font-face {
     font-family: 'ArgentumSans-Medium';
     src: url('./assets/ArgentumSans-Medium.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
 }

 @font-face {
     font-family: 'ArgentumSans-Lignt';
     src: url('./assets/ArgentumSans-Light.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
 }

 :root {
     --primary-color: #463131;
     /* Replace with your desired primary color */
 }

 .primary {
     color: #370084;
 }

 body {
     margin: 0 3em;
     font-family: ArgentumSans-Medium, Courier, monospace;
 }

 h1 {
     color: #370084;
     font-size: 12.5rem;
     font-family: Confidently, Courier, monospace;


 }

 h2 {
     color: #370084;

 }

 a {
     color: black;
     text-decoration: none;
 }

 ul {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: flex-end;
     list-style-type: none;
 }

 li {
     padding: 0 1rem;
 }

 hr {
     margin: 0 0 10em 0;
     opacity: 0.1;
 }

 label {
     display: block;
 }

 .clear {
     clear: both;
 }


 #root {
     margin: 1em 3em;
 }

 .fa,
 .fa-brands {
     font-size: 5em;
 }

 .navWrapper {
     display: flex;
     align-content: center;
     align-items: center;
     justify-content: space-between;
 }

 .nav {
     font-size: medium;
 }

 .logo {
     width: 6em;
 }

 .hero {
     display: flex;
     align-items: flex-end;
     justify-content: left;
     background-image: url('./assets/banner-hero.png');
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     height: 80vh
 }


 .intro {
     width: 50%;
 }

 .intro p {
     line-height: 2em;
     letter-spacing: 0.02em;
 }

  .btn {
        display: inline-block;
     background-color: #421286;
     border: none;
     margin: 5px 25px;
     color: white;
 }

 #bio p {
     line-height: 2em;
     letter-spacing: 0.02em;
 }

 #skills .flex {
     display: flex;
     flex-wrap: wrap;
     align-items: flex-start;
     justify-content: space-evenly;
     text-align: center;
 }

 #skills .box {
     width: 10%;
     margin: 2em;
 }

 #skills h2 {
     font-size: 1em;
 }
#resume div {
  display: flex;
  justify-content: center;
padding: 0 0 56px 0;
}
 /* Slider container */
 .slider-wrapper {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
 }

 .slider-wrapper div {
    /* border: 5px solid #370084;*/
     width: 200px;
     padding: 18px;
     margin: 36px;
     text-align: center;
        background: #8e5d9e47;
 }

 .slider-wrapper a {
color: white;
  }
  
 /* Individual slide */
 .slide {
     padding: 20px;
     border-radius: 10px;
 }

 /* Image */
 .slide img {
     width: 100%;
     height: 300px;
     object-fit: cover;
     border-radius: 10px;
 }

 /* Caption */
 .caption {
     position: absolute;
     bottom: 20px;
     left: 20px;
     padding: 10px 15px;
     background: white;
     border-radius: 10px;
     opacity: 0;
     transition: opacity 0.2s;
 }

 .slide:hover .caption {
     opacity: 1;
 }

 /* Arrows */
 .slick-arrow {
     border: none;
     border-radius: 50%;
     width: 30px;
     height: 30px;
     line-height: 30px;
     background: #333;
     color: white;
 }

 @media (max-width: 1024px) {
     .slide {
         flex: 0 0 33.33%;
         max-width: 33.33%;
     }
 }

 @media (max-width: 600px) {
     .slide {
         flex: 0 0 50%;
         max-width: 50%;
     }
 }

 @media (max-width: 480px) {
     .slide {
         flex: 0 0 100%;
         max-width: 100%;
     }
 }

 #contact .contactForm {
     float: right;
 }

 #contact a {
     display: block;
 }